<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .info {
            max-width: 1200px;
            margin: 0 auto;
            padding: 0 10px;
        }

        .info__container {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 0 50px;
        }

        .info__text {
            border-top: 2px solid black;
            border-bottom: 2px solid black;
            padding: 20px 10px;
        }
    </style>
</head>

<body>
    <nav class="nav">
        <h1 class="nav__logo">Danil </h1>
        <ul class="nav__navigation">
            <li class="nav__item"><a href="{{ path('app_home') }}" class="nav__link">Home</a></li>
            <li class="nav__item"><a href="{{ path('app_about') }}" class="nav__link">About</a></li>
            <li class="nav__item"><a href="{{ path('app_report') }}" class="nav__link">Report</a></li>
        </ul>
    </nav>

    <header class="header">
        <h1 class="header__title">Welcome to MVC course</h1>
        <img src="../../public/img/mvc.png" alt="mvc" class="header__img">
    </header>

    <section class="info">
        <div class="info__container">
            <img src="" alt="" class="info__image">
            <div class="info__text">
                <h2 class="info__title">Om Mig</h2>
                <p class="info__text"></p>
                <p class="info__text"></p>
            </div>

    </section>

    <div class="about">
        <p class="about__text">I denna kursen skall vi lära oss programmera webbapplikationer på ett objektorienterat sätt med fokus på det arkitekturella designmönstret MVC. För att komma igång
            behöver vi en bas och där har vi
            valt ramverket Symfony som är ett av de mer kända ramverken inom PHP.</p>

        <p class="about__text">Vi börjar med att installera Symfony och bygger en webbplats med en kontroller (C:et i MVC) som ger oss grunden för kursens me-sida som skall innehålla detaljer om dig
            själv, kursen och dina
            redovisningstexter. Du använder vyer för att rendera webbsidorna (V:et i MVC). Vi provar även att skapa en sida som genererats med JSON, det blir ett embryo till att se hur man kan bygga
            en webbtjänst
            med ett så kallat RESTful API.</p>

        <p class="about__text">Vi skall också börja lära oss om grunderna med objektorientering och dess konstruktioner i PHP.</p>
    </div>

    <footer class="footer">
        <p class="footer_text">Danny Castillo Cabrera 2022&copy;</p>
    </footer>
</body>

</html>