<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <nav class="nav">
        <h1 class="nav__logo">Danil </h1>
        <ul class="nav__navigation">
            <li class="nav__item"><a href="{{ path('app_home') }}" class="nav__link">Home</a></li>
            <li class="nav__item"><a href="{{ path('app_about') }}" class="nav__link">About</a></li>
            <li class="nav__item"><a href="{{ path('app_report') }}" class="nav__link">Report</a></li>
        </ul>
    </nav>

    <header class="header">
        <h1 class="header__title">Welcome to MVC course</h1>
        <img src="../../public/img/mvc.png" alt="mvc" class="header__img">
    </header>

    <footer class="footer">
        <p class="footer_text">Danny Castillo Cabrera 2022&copy;</p>
    </footer>
</body>

</html>