<nav class="nav">
    <div class="nav__container">
    <p class="nav__logo">Danil<span class="nav__logo--accent">0</span></p>
    <ul class="nav__navigation">
        <li class="nav__item"><a href="{{ path('index') }}" class="nav__link">Home</a></li>
        <li class="nav__item"><a href="{{ path('about') }}" class="nav__link">About</a></li>
        <li class="nav__item"><a href="{{ path('report') }}" class="nav__link">Report</a></li>
        <li class="nav__item"><a href="{{ path('card') }}" class="nav__link">Card</a></li>
    </ul>
    </div>
</nav>