{% extends 'base.html.twig' %}

{% block title %}Card Deck{% endblock %}

{% block header %}
    <header>
        <h1 class="header__title">Shuffle Deck</h1>
    </header>
{% endblock %}

{% block body %}

<div class="card__container">
    {% for item in cardDeck %}
        {% if item[1] == '♥' or item[1] == '♦' %}
            <div class="card">
                <p class="card__red card__rank">{{item[0]}}</p>
                <p class="card__red card__suit">{{item[1]}}</p>
            </div>

        {% else %}
            <div class="card">
                <p class="card__black card__rank">{{item[0]}}</p>
                <p class="card__black card__suit">{{item[1]}}</p>
            </div>
        {% endif %}
    {% endfor %}
</div>


{% endblock %}
