html {
    font-size: 62.5%;
    animation: smoothscroll1 1s;
    overflow-x: hidden;
}

html,
body {
    height: 100%;
}

html:focus-within {
    animation-name: smoothscroll2;
    scroll-behavior: smooth;
}

body {
    box-sizing: border-box;
    overflow-x: none;
}

h1 {
    margin: 0;
}

input,
button,
textarea,
select {
    font: inherit;
}
