{% extends 'base.html.twig' %}

{% block title %}About Page{% endblock %}

{% block header %}
<header class="header">
    <h1> About Page </h1>
    <img src="{{ asset('img/mvc.png')}}" alt="mvc" class="header__img">
</header>
{% endblock %}

{% block body %}


{% endblock %}