{% extends 'base.html.twig' %}

{% block title %}Report Page{% endblock %}


{% block header %}
<header class="header">
    <h1 class="header__title"> Report Page </h1>
    <nav class="report">
        <ul class="report__navigation">
            <li class="report__item"><a href="#kmom01" class="report__link">Kmom01</a></li>
            <li class="report__item"><a href="#kmom02" class="report__link">Kmom02</a></li>
            <li class="report__item"><a href="#kmom03" class="report__link">Kmom03</a></li>
            <li class="report__item"><a href="#kmom04" class="report__link">Kmom04</a></li>
            <li class="report__item"><a href="#kmom05" class="report__link">Kmom05</a></li>
            <li class="report__item"><a href="#kmom06" class="report__link">Kmom06</a></li>
            <li class="report__item"><a href="#kmom07" class="report__link">Kmom 07- 10</a></li>
    </ul>
</nav>
</header>

{% endblock %}

{% block body %}
    <div class="report__container">
        <section class="report__area" id="kmom01">
            <h2 class="report__heading">Kmom01</h2>
            <h3 class="fraga">Berätta kort om dina förkunskaper och tidigare erfarenheter kring objektorientering.</h3>
            <p class="svar">The only prior experience I had with OOP was with the OOPython Course. I think I understand the idea behind Objects and creating code that is more reusable and more DRY. But I still have difficulty understanding concepts like classes connected to each other. I also have difficulty understanding "this" and when to use it correctly. I do understand methods and attributes, the public and private. But is not as clear yet how everything works in OOP.</p>
            <h3 class="fraga">Berätta kort om PHPs modell för klasser och objekt. Vilka är de grunder man behöver veta/förstå för att kunna komma igång och skapa sina första klasser?</h3>
            <p class="svar">Just a basic understanding on declaring a class. Methods and attributes. Is also important to understand the "new" which is only creating an instance of that class</p>
            <h3 class="fraga">Reflektera kort över den kodbas, koden, strukturen som användes till uppgiften me/report, hur uppfattar du den?</h3>
            <p class="svar">I think I understand some of the MVC patterns that we are using. For example, all the logic we want in our code should be in the controllers (C). Not only that but also the routing to the different pages. The View (V) is created using twig files, which are templates for the information we want to display later on. By creating files with twig we can modify single files and not repeat ourselves since the code will be different depending on the twig. Last is the Model (M) We have not touched the model yet but I think this is the actual data in the database which we can dynamically create together with the templates. I think that for small projects this pattern can be overkill, but as a page becomes more advanced and more code is need it, this pattern can be great. Not only the code will be easier to maintain and debug, but it will save a lot of time and the code will be more DRY.</p>
            <h3 class="fraga">Med tanke på artikeln “PHP The Right Way”, vilka delar in den finner du extra intressanta och värdefulla? Är det några särskilda områden som du känner att du vill veta mer om? Lyft fram några delar av artikeln som du känner mer värdefulla.</h3>
            <p class="svar">The part that I found interesting and that I will like to know more about PHP is the connection to the database. Have more control over managing databases like SQL with ease using PHP code and PDO Extensions. We barely touched on it on webtec but I would like to know more. Another aspect I found super interesting is Security and how to better protect our pages from malicious agents. Not only on our page but also in protecting databases and users.</p>
            <h3 class="fraga">Vilken är din TIL för detta kmom?</h3>
            <p class="svar">In this kmom I learned about frameworks and how they can better help us to create code with ease and speed. Letting us focus on the important things instead of spending time creating things like routers or the need to make lots of code for it to work. I just barely have touch symfony but I do like so far the capabilities and the ease of creating modern web pages. </p>
        </section>
        <section class="report__area" id="kmom02">
            <h2 class="report__heading">Kmom02</h2>
            <h3 class="fraga">Förklara kort de objektorienterade konstruktionerna arv, komposition, interface och trait och hur de används i PHP.</h3>
            <p class="svar">I think I understand a couple of them and not all.
Let's start with Inheritance. This "method" is all about getting the attributes and methods of a parent class. We can for example create a class Person, that has attributes like name and age and methods like talk() or walk(). Then we can create a new class called Manager. A manager is a Person but it has its own attributes and methods, like company or organize(). By extending the Person class I don't have to rewrite the name or age, it will automatically be inherited from the Person class.</p>
            <p class="svar">Composition instead handles creating a class that contains another class and builds something with it. For example, a person may have a Heart or a Lung but is not something inheriteded from the Lungs or Heart Class. Instead, these classes are part of the Person Class.</p>
            <h3 class="fraga">Berätta om din implementation från uppgiften. Hur löste du uppgiften, är du nöjd/missnöjd, vilken förbättringspotential ser du i din koden och dina klasser?</h3>
            <p class="svar">I manage to solve the assignment, but I am not happy about it. It was easy to create the deck part, but once I had to create a new player or dealer class I just got lost. So I have managed to get the result but is not by implementing classes. I would like to understand more about how to get all classes to work together, I feel my code is not DRY at all and that I have repeated myself many times. I also found that I have been using a lot of procedural functions to create logic. I would like to create more logic inside the classes. I feel the material given in this kmom is inadequate for this assignment. </p>
            <h3 class="fraga">Berätta hur det kändes att modellera ett kortspel med flödesdiagram och psuedokod. Var det något som du tror stödjer dig i din problemlösning och tankearbete för att strukturera koden kring en applikation?</h3>
            <p class="svar">I am leaving this to next kmom since I am already running late</p>
            <h3 class="fraga">Vilken är din TIL för detta kmom?</h3>
            <p class="svar">Things I learned this kmom was how to add symfony sessions on the code. Some minor interactions between some of my classes. I found this kmom very confusing. The lectures are very confusing. The Assignment scope is way bigger than the material we been given. I am leaving this kmom with lots of frustration and a feel I am not learning enough </p>
        </section>
        <section class="report__area" id="kmom03">
            <h2 class="report__heading">Kmom03</h2>
        </section>
        <section class="report__area" id="kmom04">
            <h2 class="report__heading">Kmom04</h2>
        </section>
        <section class="report__area" id="kmom05">
            <h2 class="report__heading">Kmom05</h2>
        </section>
        <section class="report__area" id="kmom06">
            <h2 class="report__heading">Kmom06</h2>
        </section>
        <section class="report__area" id="kmom07">
            <h2 class="report__heading">Kmom07 - 10</h2>
        </section>
    </div>

{% endblock %}